<h3>Hola, <%= user.username %></h3>

<!--ticket detail-->
<div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10">
  <div class="thumbnail">
    <h3><%= ticket.title %></h3>
    <p class="content"><%= ticket.content %></p>
    <div class="caption">
      <span><img class="img-thumbnail custom" src="<%= ticket.creatorId[0].imgAvatar %>" alt="<%= ticket.creatorId[0].imgAvatar %>"></span>
      <p>Author: <b><%= ticket.creatorId[0].username %></b></p>
      <p>Tag:<b><%= ticket.tags %></b></p>
      <span>Created at:<b><%= ticket.created_at %></b></span>

    </div>
  </div>
</div>
